*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-color: #222831;
  color: #fff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  container-type: inline-size;
  height: calc(100vh - 60px);
  position: relative;
  transition: left 0.5s ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0, 1);

  &.home {
    left: 0;
  }

  &.about {
    left: -100vw;
  }

  &.projects {
    left: -200vw;
  }

  &.career {
    left: -300vw;
  }
}
