.screenreaderOnly {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btnLink {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 2px 12px;
  text-decoration: none;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: #d5d1eb;
  }
}
