@import '../../styles/utilities.module.scss';

.careerItem {
  padding-bottom: 24px;

  h3 {
    font-size: 24px;
  }

  &__duration {
    color: gold;
  }

  &__jobList {
    margin-top: 20px;
    padding: 0 0 0 16px;
  }
}
