.header {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;

  &__logo {
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    text-transform: lowercase;
    text-decoration: none;

    @media (min-width: 768px) {
      font-size: 22px;
    }
  }

  &__nav {
    & > a {
      border-radius: 4px;
      display: inline-block;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      padding: 0 6px;
      text-decoration: none;
      transition: background 0.2s linear;

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }

      &.isActive {
        background-color: #f7450a;
      }

      @media (min-width: 768px) {
        font-size: 18px;
        padding: 4px 10px;
      }
    }

    & > * + * {
      margin-left: 12px;

      @media (min-width: 768px) {
        margin-left: 20px;
      }
    }
  }
}
