.header {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;

  &__logo {
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    text-transform: lowercase;
    text-decoration: none;

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__nav {
    & > a {
      border-radius: 4px;
      display: inline-block;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      font-weight: 500;
      padding: 4px 6px;
      text-decoration: none;
      transition: background 0.2s linear;

      &:hover,
      &.isActive {
        background-color: rgba(29, 32, 83, 70%);
      }

      @media (min-width: 768px) {
        font-size: inherit;
        padding: 4px 10px;
      }
    }

    & > * + * {
      margin-left: 12px;

      @media (min-width: 768px) {
        margin-left: 20px;
      }
    }
  }
}
