.section {
  width: 100vw;
}

.sectionContent {
  margin: 0 auto;
  padding: 20px;
  max-width: 1024px;

  @media (min-width: 768px) {
    padding: 40px 20px;
  }
}

.sectionTitle {
  font-size: 52px;
  font-weight: 400;
}
