@import '../../styles/utilities.module.scss';

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  container-type: inline-size;

  &__item {
    font-size: 50px;
    grid-column: span 3;

    @media (min-width: 480px) {
      font-size: 60px;
    }
  }
}
